* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant', serif !important;
  color: #454545;
  font-size: 20px;
  line-height: 29px;
  scroll-behavior: smooth;
  animation: fade-in .4s ease;
}
.body-all{
  min-width: 100%;
  padding: 3rem;
  background-color: #f8f8f8;
}

.txt-col{
  color: #dbaf96;
}
.title {
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}

.title-60 {
  font-size: 60px;
  margin-bottom: 40px;
}

.title-40 {
  font-size: 40px;
  margin-bottom: 40px;
}

.title-30 {
  font-size: 30px;
  margin-bottom: 40px;
}
.title-small{
  justify-content: center;
  text-align: center;
}
.title-data {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #dbaf96;
  font-size: 30px;
  border-top: 2px solid #dbaf96;
  border-bottom: 2px solid #dbaf96;
}
.title-bold{
  font-weight: 400;
  font-size: 25px;
}
.mr-bt-20 {
  margin-bottom: 20px;
}
.mr-bt-40 {
  margin-bottom: 40px;
}
.mr-bt-60 {
  margin-bottom: 60px;
}
.link-tel{
  font: inherit;
  text-decoration: none;
}


.button_glass {
  background: #454545;
  color: #fff;
  padding: 1% 5%;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;
}

.button_glass:first-child {
  margin-right: 20px;
}

.button_glass:hover {
  background: #dbaf96
}

/*  */
.header-contaner {
  min-width: 100%;
  height: 700px;
  padding: 2rem;
}

.contener_row {
  margin: 2rem 0;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.box_left {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30vh 10%;
  background-color: none;
}

.bg10 {
  background: url('fon.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.bg11 {
  background: rgba(73, 73, 73, 0.1);
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100%;
}

.menu {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.menu__title {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__title li {
  margin-right: 5%;
}

.menu__title li:last-child {
  margin-right: 0;
}

.menu__title li a {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__title li a:nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
}

.menu__title li a:hover {
  text-decoration: underline;
}

.bg1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 600px;
  object-position: 50% 20%;
}


/* blok 2 */
.block1 {
  margin: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.img-heart {
  width: 25px;
  height: auto;
  color: #dbaf96;
}

.heart-line {
  display: flex;
}


/* blok 3 */

.contetn-love {
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.teg-love {
  max-height: 100%;
  white-space:pre;
  transform-origin: center center;
  margin: auto;
  color: #fff;
  font-size: 100px;
}
.love1{
  position: absolute;
  left: 2%;
  top: 2%;
}
.love2{
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 90px);
}
.love3{
  position: absolute;
  left: calc(95% - 600px);
  top: calc(95% - 110px);
}

.frame {
  width: 100%;
  border: 1px solid #dbaf96;
  padding: 20px;
  }

.bg2 {
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}


/* body4 */

.flex {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.flex_left {
  justify-content: left;
  flex-basis: 40%;
}

.flex_right {
  justify-content: right;
  flex-basis: 30%;
}

.bg3 {
  max-width: 100%;
}


/* bosy6 */

.body6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  width: 200px;
}


/* body7 */

.flex-col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.content-prog_img {
  flex-basis: 40%;
}

.img-prog {
  width: 100%;
}

.content-prog_table {
  flex-basis: 40%;
}

.row1 {
  width: auto;
  border-top: 2px solid #dbaf96;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  padding: 20px;
}
.row1_txt{
  text-align: end;
}
.row1:last-child {
  border-bottom: 2px solid #dbaf96;
}

.mem {
  padding: 2rem 0;
}

.center {
  text-align: center;
}

.nullmarg {
  margin: 0;
}

.link0 {
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}

.link1 {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 0px;
}

.link2 {
  color: #eee;
  font-size: 12px;
  position: absolute;
  top: 14px;
}

.link3 {
  position: relative;
  width: 100%;
  height: 300px;
}


/* body8 */

.blc1 {
  width: 60%;
  text-align: left;
}

.blokCore {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.core {
  display: block;
  width: 150px;
  height: 230px;
  border-radius: 140px;
  background-position: center center;
  border-color: transparent;
  padding: 5px;
  border: 1px solid #dbaf96;
}

.core:nth-child(1) {
  background: #bac8a5;
}

.core:nth-child(2) {
  background: #729d4d;
}

.core:nth-child(3) {
  background: #a3855f;
}

.core:nth-child(4) {
  background: #b1ba79;
}

.core:nth-child(5) {
  background: #99c884;
}

.core:nth-child(6) {
  background: #b8b8b8;
}


/* scrolling */

.contaner_comment {
  background: linear-gradient(90deg, rgb(17, 25, 25), #21292b);
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.comment__all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.btn_comm {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  margin: 0 auto;
  padding: 12px;
}


.card_comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card_comment img {
  flex-basis: 20%;
  width: 760px;
  height: auto;
  object-fit: cover;
  margin: 20px;
}


/* Slider */
.slider {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  width: 100%;
  transition: all 0.8s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-img-prev {
  transform: translateX(-101%);
}

.slider-img-next {
  transform: translateX(101%);
}






@media screen and (min-width:1440px) and (max-width: 1599px) {
/*  */
}
@media screen and (min-width:1280px) and (max-width: 1440px) {
  /*  */
}
@media screen and (min-width:1024px) and (max-width: 1280px) {
  .menu__title {
    justify-content: center;
  }
  .block1 {
    width: 50%;
  }
  .flex_left {
    flex-basis: 40%;
  }
  .flex_right {
    flex-basis: 40%;
  }
  .blc1 {
    width: 100%;
    text-align: left;
  }
  .flex-col-2 {
    flex-direction: column;
  }
  .content-prog_img {
    display: none;
  } 
  .content-prog_table {
    width: 80%;
  }
  .prog_title{
    color: #dbaf96;
  }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
  .menu__title {
    flex-direction: column;
  }
  .menu__title li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .box_left {
    padding: 10vh 10%;
  }
  .title-60 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .title-40 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .title-30 {
    margin-bottom: 10px;
  }
  .button_glass{
    display: none;
  }
  .block1 {
    width: 70%;
  }
  .body-all{
    padding: 2rem;
  }
  .love1{
    position: absolute;
    left: 25%;
    top: 25%;
  }
  .love2{
    display: none;
  }
  .love3{
    display: none;
  }
  .flex_left {
    flex-basis: 50%;
  }
  .flex_right {
    flex-basis: 50%;
  }  
  .slider-img-prev {
    transform: translateX(-106%);
  }
  .slider-img-next {
    transform: translateX(106%);
  }
  .blc1 {
    width: 100%;
    text-align: center;
  }
  .core {
    width: 140px;
    height: 180px;
    border-radius: 100px;
  }
  .flex-col-2 {
    flex-direction: column;
  }
  .content-prog_img {
    display: none;
  } 
  .content-prog_table {
    width: 80%;
  }
  .prog_title{
    color: #dbaf96;
  }
  .mem {
    padding: 0;
  }
}
@media screen and (min-width:600px) and (max-width: 768px) {
  .menu__title {
    flex-direction: column;
  }
  .menu__title li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .box_left {
    padding: 10vh 7%;
  }
  .title-60 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .title-40 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .title-30 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .button_glass{
    display: none;
  }
  .block1 {
    width: 100%;
  }
  .frame {
    padding: 10px;
    }
  .body-all{
    padding: 2rem;
  }
  .love1{
    position: absolute;
    left: 20%;
    top: 25%;
  }
  .love2{
    display: none;
  }
  .love3{
    display: none;
  }
  .flex_left {
    display: none;
  }
  .flex_right {
    flex-basis: 80%;
  } 
  .title-small{
    font-size: 40px;
  }
  .slider-img-prev {
    transform: translateX(-126%);
  }
  .slider-img-next {
    transform: translateX(126%);
  }
  .blc1 {
    width: 100%;
    text-align: center;
  }
  .core {
    width: 100px;
    height: 120px;
    border-radius: 100px;
  }
  .flex-col-2 {
    flex-direction: column;
  }
  .content-prog_img {
    display: none;
  } 
  .content-prog_table {
    width: 90%;
  }
  .prog_title{
    color: #dbaf96;
  }
  .mem {
    padding: 0;
  }
  .link3 {
    width: 100%;
    height: 200px;
  }
}
@media screen and (min-width:480px) and (max-width: 600px) {
  .menu__title {
    flex-direction: column;
  }
  .menu__title li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .box_left {
    padding: 10vh 5%;
  }
  .title-60 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .title-40 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .title-30 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .button_glass{
    display: none;
  }
  .block1 {
    width: 100%;
  }
  .frame {
    padding: 10px;
    }
  .body-all{
    padding: 2rem;
  }
  .love1{
    position: absolute;
    left: 20%;
    top: 25%;
  }
  .love2{
    display: none;
  }
  .love3{
    display: none;
  }
  .flex_left {
    display: none;
  }
  .flex_right {
    flex-basis: 80%;
  } 
  .title-small{
    font-size: 35px;
  }
  .slider {
    height: 300px;
  }
  .slider-img {
  width: 100%;
  height: 100%;
  }
  .slider-img-prev {
    transform: translateX(-196%);
  }
  .slider-img-next {
    transform: translateX(195%);
  }
  .blc1 {
    width: 100%;
    text-align: center;
  }
  .blokCore {
    flex-direction: column;
    align-items: center;
  }
  .core {
    width: 140px;
    height: 100px;
    border-radius: 100px;
  }
  .flex-col-2 {
    flex-direction: column;
  }
  .content-prog_img {
    display: none;
  } 
  .content-prog_table {
    width: 100%;
  }
  .prog_title{
    color: #dbaf96;
  }
  .row1 {
    gap: 30%;
  }
  .mem {
    padding: 0;
  }
  .link3 {
    width: 100%;
    height: 200px;
  }
  .title-bold{
    font-weight: 400;
    font-size: 20px;
  }
}
@media screen and (min-width:320px) and (max-width: 480px) {
  .menu__title {
    flex-direction: column;
  }
  .menu__title li {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .box_left {
    padding: 10vh 5%;
  }
  .title-60 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .title-40 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .title-30 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .button_glass{
    display: none;
  }
  .block1 {
    width: 100%;
  }
  .frame {
    padding: 10px;
    }
  .body-all{
    padding: 1rem;
  }
  .love1{
    display: none;
  }
  .love2{
    display: none;
  }
  .love3{
    display: none;
  }
  .title-data{
    font-size: 25px;
  }
  .flex_left {
    display: none;
  }
  .flex_right {
    flex-basis: 80%;
  } 
  .title-small{
    font-size: 30px;
  }
  .slider {
    height: 200px;
  }
  .slider-img {
  width: 100%;
  height: 100%;
  top: 70px;
  }
  .slider-img-prev {
    transform: translateX(-196%);
  }
  .slider-img-next {
    transform: translateX(195%);
  }
  .blc1 {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
  .blokCore {
    flex-direction: column;
    align-items: center;
  }
  .core {
    width: 120px;
    height: 80px;
    border-radius: 100px;
  }
  .flex-col-2 {
    flex-direction: column;
  }
  .content-prog_img {
    display: none;
  } 
  .content-prog_table {
    width: 100%;
  }
  .prog_title{
    color: #dbaf96;
  }
  .row1 {
    gap: 20%;
    font-size: 15px;
  }
  .mem {
    padding: 0;
  }
  .link3 {
    width: 100%;
    height: 200px;
  }
  .title-bold{
    font-weight: 400;
    font-size: 15px;
  }
  .txt-end1{
    font-size: 15px;
    line-height: 20px;
  }
}


@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
